<div class="container-fluid">

    <h1>Hello, <%= current_user.first_name %> </h1>

    <h2>Your consultations</h2>
      <% @my_consultations.each do |consultation| %>
        <ul>
          <li>
            <%= consultation.offer.start_date %>
            <%= consultation.offer.doctor.user.first_name %>
            <%= consultation.offer.doctor.user.last_name %>
            <%= consultation.offer.specialty.name %>
            <%= link_to 'Cancel appointment', consultation_path(consultation), method: :delete, data: { confirm: 'Are you sure you want to cancel?' } %></td>
          </li>
        </ul>
      <% end %>
    <%= link_to 'Add new consultation', doctors_path %>
  <% unless current_user.doctor.nil? %>

    <h2>Your consultations as a doctor</h2>
      <% @consultations.each do |consultation| %>
        <ul>
          <li>
            <%= consultation.offer.start_date %>
            <%= consultation.user.first_name %>
            <%= consultation.user.last_name %>
            <%= consultation.offer.specialty.name %>
            <%= link_to 'Cancel appointment', consultation_path(consultation), method: :delete, data: { confirm: 'Are you sure you want to cancel? The patient may get pissed!' } %></td>
          </li>
        </ul>
      <% end %>
    <h2>Your available time slots</h2>

    <% @offers.each do |offer| %>
      <% if offer.available == true %>
        <ul>
          <li>
            <%= offer.start_date %>
            <%= offer.doctor.user.first_name %>
            <%= offer.doctor.user.last_name %>
            <%= offer.specialty.name %>
            <%= link_to 'Remove time slot', doctor_offer_path(offer), method: :delete, data: { confirm: 'Are you sure you want to remove this time slot?' } %></td>
            <%= link_to 'Edit time slot', edit_doctor_offer_path(offer) %>
          </li>
        </ul>
      <% end %>
    <% end %>
    <%= link_to 'Add a new time slot', new_doctor_offer_path %>
    <br>
  <% end %>
</div>
