<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top py-0">
  <div class="navbar-pages">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo_transparent.png" %>
    <% end %>
    <% if user_signed_in? %>
      <div class="tabs <%= "tab_selected" if current_page?(consultations_path) %>">
        <%= link_to "My Appointments", consultations_path  %>
      </div>
      <% if current_user.doctor  %>
        <div class="tabs <%#= "tab_selected" if current_page?(consultations_path) %>">
          <%= link_to "Agenda", "#"  %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="collapse navbar-collapse mr-3" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <div>
          <li class="nav-item dropdown">
            <div class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup=true aria-expanded=false style="height: 50px">
              <%= cl_image_tag("lrjqqupkwtrmdsoojw4w", :transformation=>[
              {width: 50, height: 50, gravity: :face, radius: :max, crop: :thumb}
              ]) %>
              <%# if current_user.photo.url %>
            </div>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <% if current_user.doctor %>
              <%= link_to "My Doctor Profile", doctor_path(current_user), class: "dropdown-item" %>
            <% else %>
              <%= link_to "My Profile", consultations_path(current_user), class: "dropdown-item" %>
              <%= link_to "Become a Doctor", new_doctor_path, class: "dropdown-item" %>
            <% end %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        </div>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_registration_path do %>
            <button class="learn-more">
                <div class="circle">
                  <span class="icon arrow"></span>
                </div>
                <p class="button-text">SIGN UP</p>
              </button>
            <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
