<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1548101307-a757d5f06d27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80');">
  <div class="container">
    <h1>Book your appointment now!</h1>
    <p>Choose from several qualified doctors to help in your recovery process.</p>
    <div class="flex form-inline">
      <%= form_tag doctors_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control w-auto",
            style: "width: 700px !important;",
            placeholder: "Find doctors by a speciality"
          %>
          <%= submit_tag "Search", class: "btn btn-flat" %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <br>
  <br>
  <div>
    <h2>How it works</h2>
    <div class="cards">
      <div class="card">
        <img src="https://image.flaticon.com/icons/svg/387/387572.svg" alt="search">
        <div class="container-bottom">
          <div class="container-txt">
            <h3>Search for specialists</h3>
            <p>Lorem ipsum</p>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="https://image.flaticon.com/icons/svg/201/201565.svg" alt="learn">
        <div class="container-bottom">
          <div class="container-txt">
            <h3>Book a consultation</h3>
            <p>Lorem ipsum</p>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="https://image.flaticon.com/icons/svg/387/387569.svg" alt="product">
        <div class="container-bottom">
          <div class="container-txt">
            <h3>Review your doctor</h3>
            <p>Lorem ipsum</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <hr>
  <br>
  <br>

  <% if params[:query].nil? || (params[:query] == '') %>

    <h2>Professionals from our community</h2>
    <div class="row">
      <% @doctors.each do |doctor| %>
        <% if current_user != doctor.user %>
        <%= link_to doctor_path(doctor) do %>
          <div class="col-3">
            <div class="card">
                <img class="avatar" src="https://source.unsplash.com/900x900/?nurse,<%= rand(200) %>"
                  alt="profile picture">
                <div class="container-bottom">
                  <div class="container-txt">
                    <h3><%= "#{doctor.user.first_name} #{doctor.user.last_name}" %></h3>
                    <% doctor.specialties.each do |spec| %>
                      <p><%= spec.name  %></p>
                    <% end %>
                  </div>
              </div>
            </div>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>

  <% else %>

    <h2><%= params[:query].capitalize %> professionals</h2>
    <div class="row">
      <% @selected_doctors.each do |doctor| %>
        <% if current_user != doctor.user %>
        <%= link_to doctor_path(doctor) do %>
          <div class="col-3">
            <div class="card">
                <img class="avatar" src="https://source.unsplash.com/900x900/?nurse,<%= rand(200) %>"
                  alt="profile picture">
                <div class="container-bottom">
                  <div class="container-txt">
                    <h3><%= "#{doctor.user.first_name} #{doctor.user.last_name}" %></h3>
                    <% doctor.specialties.each do |spec| %>
                      <p><%= spec.name  %></p>
                    <% end %>
                  </div>
              </div>
            </div>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>

  <% end %>
</div>
