<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1548101307-a757d5f06d27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80');">
  <div class="container">
    <h1>Book your appointment now!</h1>
    <p>Choose from several qualified doctors to help in your recovery process.</p>
    <div class="flex form-inline">
      <%= form_tag doctors_path, method: :get do %>

        <%= select_tag 'query', options_from_collection_for_select(@specialities, 'name', 'name'),
         class: 'form-control doctor-form select2' %>

        <%= submit_tag "Search", class: "btn btn-flat d-none", id: 'search' %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <br>
  <br>

  <% unless user_signed_in? %>
    <%= render 'explanation_cards' %>
  <br>
  <br>
  <hr>
  <% end %>
  <br>
  <br>


  <% if params[:query].nil? || (params[:query] == '') %>

    <h2>Professionals from our community</h2>
    <% @doctors_quartet.each do |quartet| %>
      <div class="row">
        <% quartet.each do |doctor| %>
          <% if current_user != doctor.user %>
            <%= render 'doctor_card', doctor: doctor %>
          <% end %>
        <% end %>
      </div>
    <% end %>

  <% else %>

    <h2><%= params[:query].capitalize %> professionals</h2>
    <div class="row">
      <% @selected_quartet.each do |quartet| %>
        <% quartet.each do |doctor| %>
          <% if current_user != doctor.user %>
            <%= render 'doctor_card', doctor: doctor %>
          <% end %>
        <% end %>
      <% end %>
    </div>

  <% end %>
</div>
