<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1548101307-a757d5f06d27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80');">
  <div class="container">
    <h1>Book your appointment now!</h1>
    <p>Choose from several qualified doctors to help in your recovery process.</p>
  </div>
  <div class="flex form-inline" style="justify-content: space-around;">
    <%= form_tag doctors_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control w-auto",
          placeholder: "Find doctors by a speciality"
        %>
        <%= submit_tag "Search", class: "btn btn-flat" %>
    <% end %>
  </div>
</div>
<div>
  <h2>How it works</h2>
  <div class="cards">
    <div class="card">
      <img src="https://image.flaticon.com/icons/svg/387/387571.svg" alt="search">
      <div class="container-bottom">
        <div class="container-txt">
          <h3>Search for specialists</h3>
          <p>Lorem ipsum</p>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="images/learn.svg" alt="learn">
      <div class="container-bottom">
        <div class="container-txt">
          <h3>Book a consultation</h3>
          <p>Lorem ipsum</p>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="images/product.svg" alt="product">
      <div class="container-bottom">
        <div class="container-txt">
          <h3>Review your doctor</h3>
          <p>Lorem ipsum</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-3">
  <% if params[:query].nil? || (params[:query] == '') %>

    <ul>
      <% @doctors.each do |doctor| %>
        <% if current_user != doctor.user %>
          <ul><%= link_to "#{doctor.user.first_name} #{doctor.user.last_name}", doctor_path(doctor) %></ul>
        <% end %>
      <% end %>
    </ul>

  <% else %>

    <ul>
      <% @selected_doctors.each do |doctor| %>
        <% if current_user != doctor.user %>
          <ul><%= link_to "#{doctor.user.first_name} #{doctor.user.last_name}", doctor_path(doctor) %></ul>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>
