<div class="container mt-navbar">
  <div class="flex">
    <div class="col-6 rounded-circle" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.45)), url('https://source.unsplash.com/400x300/?cocktail');">
    </div>
    <div class="col-6">
      <h1><%= @doctor.user.first_name.capitalize %></h1>
      <h3>
        <% specialties = [] %>
        <% @doctor.specialties.each do |specialty| %>
          <% specialties << specialty.name %>
        <% end %>
        <%= specialties.join(', ') %>
      </h3>
      <p><%= @doctor.professional_register.upcase %></p>
      <p><%= @doctor.address.capitalize %></p>
    </div>
  </div>
  <% if current_user == @doctor.user %>
    <div class="flex mr-3">
      <%= link_to( @doctor, method: :delete, data: { confirm: 'Are you sure?' }) do %>
        <i class="far fa-trash-alt mr-2"></i> Delete my doctor account
      <% end %>
      |
      <%= link_to "Edit my info", edit_doctor_path(@doctor) %>
    </div>
  <% end %>
  <% if current_user != @doctor.user %>
      <% @doctor.offers.each do |offer| %>
        <% if offer.available == true %>
          <p><%= offer.start_date %> <%= link_to "Join consultation?", offer_consultations_path(offer), method: :post %></p>
        <% end %>
      <% end %>
  <% end %>
      <%= link_to "Back", root_path %>

  <h3>Reviews</h3>
  <% if @doctor.reviews.empty? %>
    <p>Be the first to let a review</p>
  <% else %>
    <ul class="list-group">
      <% @doctor.reviews.each do |review| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="badge badge-primary badge-pill">
            <% counter = 0 %>
            <% 5.times do %>
              <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
              <% counter += 1 %>
            <% end %>
          </span>
          <%= review.content %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <%= render "reviews/new", doctor: @doctor, review: @review %>
</div>
